/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-family: 'Lato';
}

.base-wrapper {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* header start */
header {
    background-color: #222;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 18px 16px;
}

.header-left {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

.header-right {
    display: flex;
    gap: 48px;
}
/* header end */


/* intro start */
.intro {
    background: #F1E4E6;
}

.intro__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.intro img {
    width: 100%;
    max-width: 800px;
    height: auto;
    /* transition: width 0.3s ease; */
}

.intro__text-wrapper {
    padding-right: 32px;
}

.intro p {
    border-left: 12px solid #F16D7F;
}

.intro__text {
    padding-left: 16px;
    color: #222;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    text-wrap: nowrap;
}

.intro__text-upper {
    font-size: 48px;
    font-weight: 900;
    display: block;
}

.intro__text-bottom {
    font-size: 32px;
    font-weight: 700;
}

.intro__text-collored {
    color: #F16D7F;
}
/* intro end */


/* offer start */
.offer-wrapper {
    margin-top: 65px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer__item {
    position: relative;
}

.offer__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    z-index: 1;
}

.offer-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}

.offer__item-big {
    grid-column: 1/4;
}

.offer__item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    text-wrap: nowrap;
}

.offer__item-text-upper {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.offer__item-text-bottom {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}
/* offer end */


/* fetured start */
.fetured {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetured h1 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.fetured h2 {
    margin-top: 6px;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.fetured__grid {
    margin-top: 48px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.fetured__grid-item {
    display: flex;
    flex-direction: column;
}

.fetured__grid-item-text {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fetured__grid-item-text h2 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetured__grid-item-text p {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.fetured__grid-item-text h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetured button {
    margin-top: 48px;
    margin-bottom: 60px;

    border-radius: 0;
    border-style: solid;
    border-color: #F26376;

    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px 14px 39px;
}

/* fetured end */

/* feature start */
.feature  {
    background-color: #222;
}

.feature__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding: 104px 0;
}

.feature__wrapper-item {
    width: 284px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.feature__wrapper-item h1 {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature__wrapper-item p{
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* feature end */



/* subscribe start */
.subscribe{
    background-image: url(../images/subscribe-bg.png);
    background-position: center;
    block-size: cover;
    height: 448px;
    position: relative;
}

.subscribe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(244, 244, 244, 0.70);
}

.subscribe__wrapper {
    display: flex;
    padding-top: 97px;
    padding-bottom: 126px;
    justify-content: space-between;
}

.subscribe__left {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.subscribe__left p {
    text-align: center;
    width: 360px;
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.subscribe__right {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px
}

.subscribe__right-text h1 {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}
.subscribe__right-text h2 {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe__right .email {
    border-style: none;
    background-color: #E1E1E1;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    width: 322.59px;
    height: 49px;
    flex-shrink: 0;
    text-indent: 22px;

    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe__right .email::placeholder {
    /* color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
    opacity: 0.671;
}

.subscribe__right .submit {
    border-style: none;
    background-color: #E05C6E;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 100px;
    height: 49px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* subscribe end */


@media screen and (max-width: 1439px){
    .intro__text-upper {
        font-size: 44px;
    }
    
    .intro__text-bottom {
        font-size: 24px;
    }

    .intro img {
        min-width: 386px;
        min-height: 368px;
    }

    .fetured {
        margin-top: 110px;
    }

    .fetured h2 {
        margin-top: 3.3px;
    }

    .fetured button {
        margin-top: 32.5px;
        background-color: inherit;
    }

    .fetured__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .feature__wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe__wrapper {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
    }

    .subscribe__left p {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 767px){

    header .header__account {
        display: none;
    }

    header .header__basket {
        display: none;
    }



    .intro__wrapper {
        grid-template-columns: 1fr;
    }

    .intro__jacket-man{
        display: none;
    }

    .intro__text-wrapper {
        padding: 148px 0;
    }

    .intro__text-upper{
        font-size: 38px;
    }

    .intro__text-bottom{
        font-size: 20px;
    }

    .intro__text-collored{
        font-size: 20px;
    }



    .offer-wrapper {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }



    .fetured {
        margin-top: 64px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .fetured__grid {
        grid-template-columns: 1fr;
    }

    .fetured__grid-item-text {
        gap: 12px;
        padding-right: 28.72px;
    }

    .fetured button {
        margin-top: 40px;
    }

    .feature__wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 81px;
    }

    .subscribe__left p {
        font-size: 20px;
    }

    .subscribe__right-text h2 {
        font-size: 14px;
    }
}